body { font-family: verdana; font-size: 12px; }
form { width: 400px; }
label { display: block; }
/*
td { vertical-align: top; }
input[type="text"] { height: 23px; margin-top: 10px; font-size: 14px; }
button { height: 24px; margin-top: 10px; font-size: 14px; }
*/